.error-container{
    display: flex;
    flex-direction: column;
    /* margin: 10%; */
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 50px;
}
.error-container img{
    width: 40vh;
    margin: 30px;
}

.error-container p{
    font-size: 1.25em;
}

.error-container p a{
    font-weight: bold;
    text-decoration: underline;
}

.error-container div{
    width: fit-content;
}