/* Alteração na scrollbar */ 
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
 }

::-webkit-scrollbar-thumb {
    background:  #d5d5d59a;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #d5d5d5;
}
/* ---------------------- */ 

.svg-buttons{
    display: flex;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    margin: 10px 0px;
    justify-content: center;
}

.svg-buttons svg{
    height: 20px;
    margin: 10px;
    fill: #593bdb;
}

.svg-buttons svg:hover{
    cursor: pointer;
}

#container-filtro{
    display: flex !important; 
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 10px;
}

.subcontainer-filtro{
    display: flex;
    width: 100%;
}

.subcontainer-filtro .input-label{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    margin: 0;
}

@media (max-width: 768px) {
    #container-filtro{
        flex-direction: column;
        margin-top: 10px;
    }
    
    #container-filtro .input-label label{
        font-size: 1.0em;
    }

    #container-filtro .input-label input{
        font-size: 1.0em;
        height: 2.5em;
    }

    #container-filtro .input-label select{
        font-size: 1.0em;
        height: 2.5em;
    }
}