.vessel-info, .vessel-discharging-info{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
    line-break: anywhere;
}

.vessel-info label, .vessel-discharging-info label{
    font-size: 1.2em;
    font-weight: 400;
}

.vessel-discharging-info{
    border: none;
    padding: 5px 20px;
}

.big-numbers{
    font-size: 2rem;
    font-weight: 600;
}

.text-target{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(61, 68, 101, 1)
}

.target-success{
    color: green;
    font-weight: 900;
}

.target-fail{
    color: red;
    font-weight: 900;
}

.listagem-paralisacao{
    font-size: 1.05rem;
    padding: 5px 30px;
    color: red;  
}
