body{
    overflow: auto;
}

body .content-body{
    min-height: fit-content !important;
}

body h2{
    margin: auto 0px;
}

#report-action-buttons{
    display: flex;
    height: 100%;
    max-width: 100%;
    position: relative;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px 0px;
    padding: 0px 20px;
}

#report-container{
    display: none;
}

#preloader-report{
    display: flex;
}
.report-container{
    height: 75vh !important;
    width: 100% !important;
    background-color: transparent;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.report-container iframe{
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.error-container{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#fullscreen{
    display: flex;
}

@media (max-width: 768px){
    .report-container{
        height: 60vh !important;
        width: 100% !important;
    }

    #fullscreen{
        display: none;
    }
}


