.main-container{
    display: flex;
    height: 100%;
}

#formulario-registro {
    width: 30%;
    max-height: fit-content;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.container {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

}

#card-body-table{
    padding: 0px !important; /* Removendo padding que vem de outro stylesheet */
}

#tabela-filtro-container {
    width: 70%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto; /* Allow the table to grow and shrink */
    overflow: auto;
    margin-left: 10px;
    margin-top: 0px;
}
#tabela-usuarios-container {
    overflow: auto;
    margin-bottom: 0px !important;
    height: 100%;
    max-height: 75vh;
    
}

#tabela-usuarios-container thead th{
    position: sticky;
    top: 0;
    transition: background-color 0.5s;
    color: black;
}

#tabela-usuarios-container tbody {
    width: 100%;
}

#modalEditar{
    display: none;
    position: fixed;
    top: calc(50% - 200px);
    right: calc(50% - 275px);
    margin: auto;
    width: 30%;
    height: fit-content;
    z-index: 10000;
}

#modalEditar h2{
    text-align: center;
    padding: 20px 5px;
}

.modal-botoes{
    display: flex;
    justify-content: space-between
}

.form-control:disabled{
    background-color: #bdbdc73a;
}

#container-filtro{
    display: flex !important; 
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 10px;
    
}

.subcontainer-filtro{
    display: flex;
    width: 100%;
}

.subcontainer-filtro .input-label{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    margin: 0;
}

@media (max-height: 500px) {
    @media (max-width: 768px) {
        #modalEditar{
            width: 50%;
            height: fit-content;
            top: 1%;
            left: 5%;
        }
        #modalEditar .form-group{
            height: 30px !important;
            width: 45% !important;
        }
        .subcontainer-modal{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            margin: 20px 0px;
        }
    }
}

@media (max-width: 768px) {
    .main-container{
        flex-direction: column;

    }

    #formulario-registro {
        width: 100%;
        max-width: 100% !important;
        margin: 0 !important;
    }

    #tabela-filtro-container {
        width: 100%;
        margin-left: auto;
        max-width: 100% !important;
        margin: 0 !important;
    }

    #container-filtro{
        flex-direction: column;
        margin-top: 10px;
    }
    
    #container-filtro .input-label label{
        font-size: 1.0em;
    }

    #container-filtro .input-label input{
        font-size: 1.0em;
        height: 2.5em;
    }

    #container-filtro .input-label select{
        font-size: 1.0em;
        height: 2.5em;
    }

    #modalEditar{
        width: 90%;
        right: calc(50% - 45%);
    }

    #tabela-usuarios-body td{
        font-size: 0.9em;
        max-width: 2px;
    }
    #tabela-usuarios-body td button{
        font-size: 0.8em;
    }
}